<div class="row">
  <div class="col">
    <div class="background">
      <div class="inner">
          <div class="text">
              <h2>
                  <span>Source a fastener</span>
              </h2>
              <p>We have over a 1000 headers, forgers, and machine shops around the globe to help make any of your Fastener needs.</p>
          </div>
          <button type="button" class="btn btn-primary waves-light btn-block" mdbWavesEffect>
            Source a fastener
          </button>
        </div>
      </div>
  </div>
</div>
