<div class="row">
  <div class="col">
    <div class="background">
      <div class="text">
          Source a fastener
          We have over a 1000 headers, forgers, and machine shops around the globe to help make any of your Fastener needs.
      </div>
      <!-- <button type="button" class="btn blue-gradient btn-rounded waves-light" mdbWavesEffect>Primary</button> -->
      <button type="button" class="btn btn-primary waves-light btn-block" mdbWavesEffect>Primary</button>
      <div class="line"></div>
      <div>asdasd</div>
      <div class="line"></div>
    </div>
  </div>
</div>
