.background {
	// height: 20vh;
	background-color: aquamarine;
	padding: 2% 10%;
	text-align: center;
	margin: 20px 0;
	background-image: url("https://images.unsplash.com/photo-1463082459669-fd1ca1692fea?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=378f27408b25236420cadf1dc8c87e8b&auto=format&fit=crop&w=1050&q=80");
	background-size: 100%;
	border-radius: 5px;
}

.inner > * {
	margin-bottom: 10px;
}

.inner {
	// width: 60%;
}

.text {
	font-size: 20px;
}

.text > h2 {
	font-size: 28px;
}