h2 {
    overflow: hidden;
    text-align: center;
    font-weight: 400;
    color: #007b9a;
}

h2:before,
h2:after {
    background-color: rgb(61, 155, 233);
    content: "";
    display: inline-block;
    height: 5px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

h2:before {
    right: 0.5em;
    margin-left: -30%;
}

h2:after {
    left: 0.5em;
    margin-right: -30%;
}
