.carousel-wrapper {
	max-height: 500px;
	overflow: hidden;
	position: relative;
}

.carousel-wrapper img {
	width:100%;
}

.text {
	font-size: 30px;
}

.text > h2 {
	font-size: 36px;
}

.inner {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 20%;
	width: 60%;
}